*{
    box-sizing: border-box;
}
body {
    background-image: url(kepek/hatter.jpg);
}
main{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(255,255,230);
    grid-template-areas: "h h"
                        "n n "
                        "as a"
                        "f f";
}
header {
    grid-area: h;
    height: 550px;
    display: grid;
}
nav {
    grid-area: n;
    height: 50px;
    background-color:#ff1a1a
}
nav ul li{
    border-top: 1px white solid;
    border-bottom: 1px white solid ;
    padding: 5px;
    list-style-type: none;
    color: white;
    font-weight: bold;
    display:inline-block;
}
nav li:hover {
    background-color: green;
  }
nav li a{
    text-decoration: none;
}
article {
    grid-area: a;
    text-align: justify;
    font-size: 10px;
}
article h1{
    font-size: 15px;
    color: rgba(#ff1a1a);
    font-family: Arial, Helvetica, sans-serif;
}
article input{
    margin: auto;
    padding-right: 15px;
    width: 50px;
}
aside img{
    max-width: 150px;
    width: 100%;
    display: block;
}
aside{
    grid-area: as;
}








@media screen and (max-width:700px){
    main{
        width: 80%;
        margin: auto;
        background-color: rgb(255,255,230);
        display: grid;
        grid-template-areas: "h "
                            "n  "
                            "a"
                            "as"
                            "f";
    
    }
    aside img{
        display: inline;
    }
}
